div {
  line-height: 0;
}

.car {
  width: 45px;
  height: 45px;
  background-image: url('car-image.png');
  display: inline-block;
}

.wall {
  width: 45px;
  height: 45px;
  background-image: url('wall.png');
  display: inline-block;
}

.ground {
  width: 45px;
  height: 45px;
  background-image: url('ground.png');
  display: inline-block;
}

.yellow {
  width: 45px;
  height: 45px;
  background-image: url('yellow.png');
  display: inline-block;
}
