div {
  line-height: 0;
}

h4 {
  text-decoration: underline;
}

.container {
  text-align: center;
}

.car {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: contain;
}

.wall {
  width: 45px;
  height: 45px;
  background-image: url('wall.png');
  display: inline-block;
  background-size: contain;
}

.ground {
  width: 45px;
  height: 45px;
  background-image: url('ground.png');
  display: inline-block;
  background-size: contain;
}

.yellow {
  width: 45px;
  height: 45px;
  background-image: url('yellow.png');
  display: inline-block;
  background-size: contain;
}

.car-left {
  background-image: url('car-image.png');
  transform: rotate(-90deg);
}

.car-right {
  background-image: url('car-image.png');
  transform: rotate(90deg);
}

.car-down {
  background-image: url('car-image.png');
  transform: rotate(180deg);
}

.car-up {
  background-image: url('car-image.png');
}
